body {
  background-image: url("./images/ravenna.png");
  font-size: 16px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666666;
  position: -webkit-sticky; /*safari*/
  position: sticky;
  top: 0;
}


li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover {
  background-color: #2E8B57;
  color: white;
}


.active {
  background-color: #2E8B57;
}
